ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000000;
    display: inline-block;
}
body{
    margin:0 auto;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}
.container{
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.btn{
    padding: 13px 53px;
    border: #ff2d2d solid 2px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}
.red-line{
    border: #ff2d2d solid 1px;
    width:130px;
    background-color:  #ff2d2d;
}

.form-field{
    background-color: #e5e5e5;
    padding-left: 55px;
    border-radius: 5px;
    border: #e5e5e5 solid 2px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/* Header*/

header{
    padding-top: 30px;
    background-color: #f6f2f2;
}
header nav{
    background-color: #313030;
}
header nav ul{
    display: flex;
    justify-content: center;
}
header a:hover,
header .active a{
    background-color: #ff3f40;
    transition: .3s;
}
header a{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 25px 30px;
}
/* Introduction service*/

.introduction__section{
    background-color: #f6f2f2;
    padding: 110px 0;
}
.introduction__section .col{
    width:50%;
}
.introduction__section .row{
    column-gap: 110px;
    align-items: center;
}
.introduction__text .introduction__title {
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 35px;
}
.introduction__text .introduction__description{
    max-width:515px;
    line-height: 28px;
    margin-bottom: 60px;
}
.introduction__text .introduction__contact{
    background-color: #ff2d2d;
    color:#ffffff;
}
.introduction__text .introduction__contact:hover{
    background-color:transparent ;
    color:#ff2d2d;
    transition: .3s;
}
.introduction__video .intro__video-wrapper iframe{
    width: 100%;
    border: none;
    box-shadow: 6px -19px 38px 4px rgb(0 0 0 / 25%);
}

/*Services section*/
.service__section{
    padding: 110px 0 0;
}
.service__section .container{
    padding-bottom: 110px;
    border-bottom: #ececec solid 2px;
}
.service__section .col{
    width: 50%;
}
.service__description .service__title{
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 45px;
}
.service__description .service__text{
    max-width:520px;
    line-height: 28px;
    margin-bottom: 60px;
}
.service__description .learnMore{
    background-color: white;
    color: #ee4941;
}
.service__description .learnMore:hover{
    color:white;
    background-color:#ee4941;
}
.service__info{
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
}
.service__info .service__info-block{
    width: 50%;
}
.service__info-block .service__info-title{
    margin-top: 35px;
    font-size: 24px;
    font-weight: 600;
}
.service__info-block .service__info-text{
    max-width: 295px;
    line-height: 28px;
}

/* Products section*/
.product__section{
    margin: 110px 0 70px;
}
.product__section-intro .product__section-title{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.product__section-intro .product__section-text{
    text-align: center;
    line-height: 28px;
    margin-bottom: 30px;
}
.product__section-intro .red-line{
    margin: 0 auto 90px;
}
.product__section-intro .products__section-list{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;
}
.product__section-intro .products__section-list a{
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
}
.products__section-list a:hover,
.products__section-list .active-from-list a{
   color: #ff2d2d;
    transition: .3s;
}
.product__section-pics{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.product__item{
    width: calc(25% - 20px);
}

/*Team section*/
.team__section{
    padding: 70px 0 110px;
}
.team__section-info .team__section-title{
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.team__section-info .team__section-text{
    line-height: 28px;
    margin-bottom: 40px;
    max-width: 450px;
}
.team__section-info .red-line{
    margin-bottom: 65px;
}
.team__pictures-section{
    display: flex;
    justify-content: space-between;
}
.team__pictures-section .main-picture-section{
    width: 25%;
}
.person__info .person__info-title{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.person__info .person__info-text{
    line-height: 28px;
    margin-bottom: 35px;
    max-width: 630px;
}
.person__info .person__sm-list{
    display: flex;
    gap: 30px;
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    margin-bottom: 50px;
}
.person__info .person__sm-list a:hover{
    color: #ee4941;
}
.add-pictures-section{
    display: flex;
    gap:20px;
}
.name-on-pic .person-name {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: transparent;
    text-align: center;
}
.name-on-pic{
    height: 40px;
    margin-top: -28px;
}
.name-on-pic .person-name:hover {
    color: white;
    background-color: #7a786e;
    position: relative;
    transition: .3s;
}

/*Subscribe section */
.subscribe__section{
    background-color: #f5f0dd;
    padding-top: 110px;
}
.subscribe__section .subscribe__section-title{
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px;
}
.subscribe__section .subscribe__section-text{
    color: #ffffff;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}
.subscribe-form{
    padding: 55px 230px 140px;
}
#email{
    width: 500px;
    height: 80px;
    line-height: 24px;
    border: #ffffff solid 1px;
    border-radius: 2px;
    padding-left: 35px;
}
.subscribe-form .subscribe-button{
    background-color: #ff2d2d;
    border: #ff2d2d solid 2px;
    border-radius: 3px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color:#ffffff;
    margin-left: 20px;
    padding: 25px 60px;
}
.subscribe-form .subscribe-button:hover{
    background-color:transparent ;
    color:#ff2d2d;
    transition: .3s;
}
/* Contact section*/
.contact__section{
    padding: 110px 0;
}
.contact__form-preview .contact__section-title{
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.contact__form-preview .contact__section-text{
    max-width: 725px;
    margin-bottom: 50px;
}
.contact__form-preview .red-line{
    margin-bottom: 75px;
}
.contact__section .row{
    gap: 110px;
}
.contact__section .contact-form-fields{
    display: flex;
    flex-wrap: wrap;
}
.contact-form #name,
.contact-form #mail{
    width: 46%;
    height: 70px;
}
.contact-form #name{
    margin: 0 50px 50px 0;
}
.contact-form .text-area-contact{
    width:100%;
    height: 253px;
    padding-top: 35px;
    margin-bottom: 45px;
    resize: none;

}
.contact-form .submit-contact-form{
    padding-top: 20px;
    background-color: #ff3b3b;
    color: white;
    text-transform: uppercase;
    width: 100%;
}
.contact-form .submit-contact-form:hover{
    background-color:transparent;
    color:  #ff3b3b;
    transition: .3s;
}
.contact__address-info{
    background-color: #2d2d2d;

}
.contact__address-info .contact__address-block{
    padding: 145px 30px 70px 80px;

}
.contact__address-info .contact__address-title{
    color: #e0e0e0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-style:normal;
}
.contact__address-info .contact__address-text{
    color: #e0e0e0;
    max-width: 320px;
    margin-bottom: 35px;
    font-style: normal;
    font-weight: 400;
}
.contact__section .wrapper:after {
    content: ' ';
    height: 483px;
    width: 325px;
    background-color: #2d2d2d;
    position: absolute;
    display: block;
    left:82%;
}
footer{
    background-color: #313030;
    padding: 45px 0 30px 0;
}
footer .footer__block{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.footer__info .footer__copyright{
    line-height: 26px;
    color: #b1b1b1;
}
.footer__sm-list .sm-icons{
    display: flex;
    gap: 15px;
}

@media (max-width: 1920px) {
    .contact__section .wrapper:after{
        display: none;
    }

}
@media (max-width: 1280px){
    .container{
        max-width: 1024px;
    }
    .introduction__section .row{
        column-gap: 60px;
    }
    .introduction__text .introduction__title {
        font-size: 48px;
        line-height: 52px;
    }
    .service__description .service__title{
        font-size: 34px;
    }
    .service__description .service__text{
        max-width:420px;
    }
    .service__info .service__info-block{
        width: 50%;
    }
    .service__info-block .service__info-text{
        max-width: 200px;
    }
    .team__pictures-section{
        gap: 20px;
    }
    .team__pictures-section .main-picture-section{
        width: 35%;
    }
    .add-pictures-section{
        gap:10px;
    }
    .subscribe__section .subscribe__section-title{
        font-size: 38px;
     }
    .subscribe__section .subscribe__section-text{
        color: #ffffff;
    }
    .subscribe-form{
        padding: 55px 70px 140px;
    }
    .subscribe-form .subscribe-button{
        padding: 25px 100px;
    }

    .contact__section .contact-form-fields{
        display: flex;
    }
    .contact-form #name,
    .contact-form #mail{
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
    }
    .contact-form #name{
        margin-right: 0;
    }
}
@media (max-width: 1024px){
    .container{
        max-width: 768px;
    }
    .introduction__section .col{
        width:100%;
    }
    .introduction__section .row{
        flex-wrap: wrap;
        justify-content: center;
    }
    .introduction__text .introduction__title {
        font-size: 42px;
        line-height: 42px;
        text-align: center;
    }
    .introduction__text .introduction__description{
        max-width:100%;
        text-align: center;
    }
    .introduction__text .introduction__contact{
        margin: 0 250px 40px;
    }

    .service__section .row{
        flex-wrap: wrap;
    }
    .service__section .col{
        width: 100%;
    }
    .service__description .service__title{
        text-align: center;
    }
    .service__description .service__text{
        max-width:100%;
        text-align: center;
    }
    .service__info{
        column-gap: 50px;
    }
    .service__info .service__info-block{
        width: calc(50% - 50px);
    }
    .service__description .learnMore{
        margin: 0 250px 40px;
    }
    .service__info-block .service__info-text{
        max-width: 100%;
    }
    .service__info-block .service__info-title{
        text-align: center;
    }
    .service__info-block .service__image{
        margin: 0 auto;
    }
    .product__section-intro .products__section-list{
        gap: 30px;
        margin-bottom: 60px;
    }
    .product__section-intro .products__section-list a{
        font-size: 20px;
    }
    .product__item{
        width: calc(50% - 20px);
    }

    /*Team section*/

    .team__section-info .team__section-title{
        text-align: center;
        margin-bottom: 15px;
    }
    .team__section-info .team__section-text{
        text-align: center;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .team__section-info .red-line{
        margin: 0 auto 50px;
    }
    .team__pictures-section{
        gap:20px;
    }
    .team__pictures-section .main-picture-section{
        width: 50%;
    }
    .person__info .person__sm-list{
        margin-bottom: 15px;
    }
    .person__info .person__info-title{
        font-size: 22px;
        margin-bottom: 15px;
    }

    .subscribe__section .subscribe__section-title{
        font-size: 30px;
    }

    #email{
        width: 100%;
        margin-bottom: 15px;
    }
    .subscribe-form .subscribe-button{
        margin-left: 130px;
    }


    .contact__section .row{
        gap: 50px;
    }
    .contact__address-info {
        width: 45%;
    }
    .contact__address-info .contact__address-block{
        padding-left: 35px;
    }
    .contact__address-info .contact__address-text{
        max-width: 150px;
        font-size: 14px;
    }

}
@media (max-width: 768px){
    *{
        font-size: 14px;
    }
    .container{
        max-width: 576px;

    }
/*Introduction section*/
    .introduction__section{
        padding: 40px 0;
    }
    .introduction__text .introduction__title {
        font-size: 36px;
        margin-bottom: 15px;
        line-height: 38px;
    }
    .introduction__text .introduction__description{
        line-height: 22px;
        margin-bottom: 35px;
    }
    .introduction__text .introduction__contact{
        margin: 0 175px 40px;
    }
    .introduction__text .introduction__contact{
        font-size: 14px;
    }
    /*Services section*/

    .service__section{
        padding: 40px 0;
    }
    .service__description .service__title{
        margin-bottom: 15px;
    }
    .service__description .service__text{
        line-height: 22px;
        margin-bottom: 35px;
    }
    .service__description .learnMore{
        margin: 0 175px 40px;
        font-size: 14px;
    }
    .service__info-block .service__info-title {
        font-size: 18px;
        margin: 15px 0;
    }
    .service__info-block .service__info-text{
        line-height: 22px;
    }

    /*Product section*/
    .product__section{
        margin: 40px 0 20px;
    }
    .product__section-intro .product__section-title{
        font-size: 32px;
        margin-bottom: 15px;
    }
    .product__section-intro .product__section-text{
        line-height: 22px;
        margin-bottom: 15px;
    }
    .product__section-intro .red-line{
        margin-bottom: 50px;
    }
    .product__section-intro .products__section-list{
        gap: 15px;
        margin-bottom: 30px;
    }
    .product__section-intro .products__section-list a{
        font-size: 16px;
    }
    .product__item{
        width: calc(50% - 20px);
    }

    /*Team section*/

    .team__section-info .team__section-title{
        font-size: 32px;
        margin-bottom: 15px;
    }
    .team__section-info .team__section-text{
        line-height: 22px;
        margin-bottom: 15px;
    }
    .team__pictures-section{
        display: block;
    }
    .team__pictures-section .main-picture-section{
        width: 40%;
        margin: 0 auto;
    }

    .person__info .person__info-title{
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
    }
    .person__info .person__info-text{
        line-height: 22px;
    }
    .person__info .person__sm-list{
        justify-content: center;
    }

    /*Subscribe section*/
    .subscribe__section{
        padding-top: 40px;
    }
    .subscribe__section .subscribe__section-title{
        font-size: 32px;
        margin-bottom: 20px;
    }
    .subscribe__section .subscribe__section-text{
        line-height: 22px;
        margin-bottom: 20px;
    }
    .subscribe-form{
        padding: 55px 0;
    }
    #email{
        width: 100%;
    }
    .subscribe-form .subscribe-button{
        width: 100%;
        padding: 20px 60px;
        margin: 0 auto;
    }
/*Contact section*/

    .contact__section{
        padding: 60px 0;
    }
    .contact__form-preview .contact__section-title{
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
    }
    .contact__form-preview .contact__section-text{
        max-width: 100%;
        margin-bottom: 30px;
        line-height: 22px;
        text-align: center;
    }
    .contact__form-preview .red-line{
        margin: 0 auto 40px;
    }
    .contact__section .row{
        display: block;
    }

    .contact-form #name,
    .contact-form #mail{
        width: 100%;
        height: 70px;
    }

    .contact-form .text-area-contact{
        height: 150px;
    }
    .contact-form .submit-contact-form{
        margin-bottom: 25px;
    }
    .contact__address-info{
        width: 100%;
        background-color: #2d2d2d;
    }
    .contact__address-info .contact__address-block{
        text-align: center;
        padding: 20px 0;

    }
    .contact__address-info .contact__address-title{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .contact__address-info .contact__address-text{
        max-width: 100%;
        margin-bottom: 15px;
        font-size: 16px;
        text-align: center;
    }
}